.button {
  padding: auto;
  width: auto;
  height: 40px;
  background-color: rgb(255, 251, 251);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin: 0px 5px;
  display: inline-block;
}

.button:hover {
  background-color: rgba(54, 54, 255, 0.2);
}
